<div class="d-flex justify-content-center align-items-center gap-2">
  <div class="card custom-container-log col-6 col-lg-5">
    <div class="card-body">
      <h2>Editar Perfil</h2>

      <%= render "form", profile: @profile %>

    </div>
  </div>
</div>
