<div class="d-flex justify-content-center align-items-center gap-2">
  <div class="card custom-container-log col-12 col-lg-8">
    <div class="card-body">
      <h2>Crear perfil</h2>
        <%= render "form", profile: @profile %>
      </div>
    </div>
  </div>
</div>

