/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.top-bar {
    margin-top: 56px + 24px;
}
.custom-container {
    border: 2px solid #c0c0c0;
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe;
    transition: background 0.3s ease, cursor 0.3s ease;

}.custom-container:hover {
    background: #ffd798;
    cursor: pointer;
}

.custom-container-log {
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}
